/**
 * meyerweb reset css
 */
@import "components/reset";

/**
 * Core
 */
@import "core/fonts";
@import "core/vars";
@import "core/core";

/**
 * Components
 */
@import "components/draft-details";
@import "components/draft-list";

#print {
    width: 735px;
}
.page-break {
    display: block;
    page-break-before: always;
}
h1 {
    &:nth-of-type(odd) {
        text-align: right;
    }
}