/**
 * Fancy Fonts
 */

@font-face {
    font-family: Eyechart;
    src: url("../fonts/Eyechart.otf") format("opentype");
}

@font-face {
    font-family: Eyechart;
    font-weight: 700;
    src: url("../fonts/EyechartBold.otf") format("opentype");
}

@font-face {
    font-family: icomoon;
    src: url("../fonts/icomoon.otf") format("opentype");
}

@font-face {
    font-family: HTF30-JuniorWelterwt;
    src: url("../fonts/Knockout-HTF30-JuniorWelterwt.otf") format("opentype");
}

@font-face {
    font-family: VoltaT;
    font-weight: 400;
    src: url("../fonts/VoltaT-Regu.otf") format("opentype");
}

@font-face {
    font-family: VoltaT;
    font-weight: 700;
    src: url("../fonts/VoltaT-Medi.otf") format("opentype");
}

@font-face {
    font-family: VoltaT;
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/VoltaT-MediItal.otf") format("opentype");
}