
/**
 * Site wide variables
 */

/**
 * Site Fonts
 */

$san-serif-font: Eyechart, sans-serif;
$serif-font: VoltaT, Georgia, "Times New Roman", serif;
$paragraph-font: HTF30-JuniorWelterwt, serif;
$icon-font: icomoon;

/**
 * Site Colors
 */

$highlight-color: #AD974F;
$highlight-alt-color: #8E793E;
$dark-gray-color: #231f20;
$gray-color: #4d4d4d;
$light-color: #eaeaea;

$body-color: $gray-color;

/**
 * Screen Sizes (stolen from BS4
 */

$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;

/**
 * Mixins
 */

// Headings, ect.
@mixin primary-font() {
    font-family: $san-serif-font;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.14em;
}

// Default font style
@mixin secondary-font() {
    font-family: $serif-font;
    font-style: italic;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
}

// Adds fade to links on hover
@mixin fade() {
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.2s ease;
    }
}