/**
 * Active Beer List
 */

.activeMenu__title {
    border-bottom: double var(--dark-color) 4px;
    padding: 0 0 1rem;
}

// Each beer item
.activeBeer {
    cursor: pointer;
    display: grid;
    grid-template-columns: 30fr 50fr 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: start;
    margin: 2rem 0;
    position: relative;
    font-size: 1.2rem;
    line-height: (16/12);

    // index
    .activeBeer__index {
        @include default-font;
        color: var(--highlight-color, gold);
        font-size: 2rem;
        opacity: 0.4;
        position: absolute;
        left: 0;
        top: -0.7rem;
    }

    // columns
    &__col {
        &--1 {
            text-align: right;
        }

        &--3,
        &--4 {
            text-align: center;
        }
    }

    // type styles
    &__brewery {
        @include default-font();
    }

    &__beer {
        @include primary-font();

        span {
            font-size: 1rem;
        }
    }
}