// Beer List Wrapper
.beerCards {
    margin: 4rem 0 0;

    // vars to ensure title bar and beerCards have same columns
    --grid-columns: 10fr 3fr 4fr 2fr 1fr 1fr;
    --grid-gap: 1rem;
}
// /end Beer List Wrapper

// Title Bar
.listTitles {
    border-bottom: double var(--dark-color) 4px;
    display: grid;
    grid-template-columns: var(--grid-columns, repeat(6fr));
    grid-column-gap: var(--grid-gap, 0.5rem);
    align-items: end;
    padding: 0 1rem 1rem;
}

.listTitle {
    @include primary-font();
    line-height: 1;

    &--large {
        font-size: 2.4rem;

        span {
            @include default-font();
            font-size: 1.6rem;
        }
    }

    &--small {
        letter-spacing: normal;
        font-size: 1.1rem;
    }
}
// /end Title Bar

// Each Beer Card Article
.beerCard {
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    cursor: pointer;
    display: grid;
    grid-template-columns: var(--grid-columns, repeat(6fr));
    grid-column-gap: var(--grid-gap, 0.5rem);
    padding: 1.5rem;
    margin: 2rem 0 0;
    @include fade();

    // each col minus the heading,
    // move down a row
    &__col {
        grid-row: 2/3;
    }

    &:hover {
        box-shadow: 0 0 0 5px var(--highlight-color, gold);
    }

    // Type Styles
    &__brewery {
        @include default-font();
        font-size: 1.8rem;
        margin: 0;
    }

    &__name {
        @include primary-font();
        font-size: 1.8rem;
        margin: 0;
    }

    &__description {
        font-family: var(--primary-font, sans-serif);
        font-size: 1.6rem;
        line-height: normal;
        margin: 0;
    }

    &__style,
    &__location,
    &__glassware,
    &__abv {
        @include default-font();
        font-size: 1.2rem;
    }

    &__price {
        @include primary-font();
        font-size: 1.4rem;
        font-weight: 700;
    }
}
// /end Each Beer Card Article