// define vars
$list-gap: 0.8rem;

.page-break {
    display: block;
    page-break-before: always;
}

// Print Rules
#print {
    width: 100%;
    padding: 0 80px;
}

.shrink {
  display: block;
  transform: scale(0.8);
}
    
img.print-title {
  margin: 0 30px 3rem 0;
  width: 70%;
}

.printableH1 {
  display: block
  
  &::after {
      content: "";
      clear: both;
      display: table;
    }
}

.align-right {
    text-align: right
}

.printableList {

    table {
        width: 100%;
    }

    th, td {
        border-right: 1px dotted $dark-gray-color;
        white-space: nowrap;

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            border-right: none;
            padding-right: 0;
        }
    }

    th {
        padding-top: 0;
        vertical-align: bottom;
    }

    &--draftList {
        
        th, td {
          padding: 0.8rem 1rem;
        }
        
        th.listTitle {
            &--header {
                border-right: none;
            }
            &--brewery {
                text-align: right;
            }
        }
        tr.draftListItem {
            border-bottom: 1px dotted $dark-gray-color;
        }
        td.draftListItem {
            &__brewery {
                text-align: right;
            }
            &__beer {
                white-space: nowrap;
            }
            &__glassIcon {
                padding: 0 0 0 0.5rem;
                vertical-align: middle;
            }
        }
    }

    &--draftDetailsList {
        
        th {
           padding: 0 0 0.3rem;
        }
        
        td {
           padding: 1rem 0 0;
        }
        
        th {
            // desc column only
            width: 55%;
            
            &.listTitle {
                width: auto;
            }
        }
        
        td {
            padding-top: 2.5rem;
            vertical-align: top;

            &.draftDetail__description {
                padding: 0.8rem 0.5rem 0 0;
                white-space: normal;
            }
        }
        
    }

}

/**
 * Draft Details -- for printing
 */

.draftDetail {
    
    // Styles
    &__description {
        font-family: $paragraph-font;
        font-size: 1.2rem;
        line-height: 1.1;
        margin: 3px 0 0;
    }
}

/**
 * Draft List -- for printing
 */

// Each beer item
td.draftListItem {

    // type styles
    &__brewery {
        @include secondary-font();
        font-size: 1.3rem;
        line-height: 1;
    }

    &__beer {
        @include primary-font();
        font-size: 1.3rem;
        line-height: 1;

        span {
            font-family: $san-serif-font;
            font-weight: 700;
            font-size: 1rem;
            padding-left: 12px;
        }
    }

    &__glassIcon {
        font-family: $icon-font;
        font-size: 23px;
        line-height: 1;
    }
}