.form-group {

    label {
        @include primary-font();
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1;
        margin-bottom: 0.8rem;
    }

    textarea.form-control,
    input.form-control,
    .v-select .dropdown-toggle {
        border: 1px $dark-gray-color solid;
        border-radius: 5px;
        box-shadow: none !important;
        color: $body-color;
        font-family: $paragraph-font;
        font-size: 16px;
        line-height: 24px;
        padding: 10px 20px;
        margin: 0 0 2.5rem;
        height: auto;
        width: 100%;
    }

    /*
    .v-select .dropdown-toggle {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .v-select .selected-tag {
        margin-left: 0;
        padding-left: 0;
    }

    .v-select .dropdown-toggle .clear,
    .v-select .open-indicator {
        bottom: inherit;
        top: 50%;
        transform: translateY(-55%);
    }

    .v-select .open-indicator {
        transform: translateY(-30%);
    }
    */
}

.button {
    @include primary-font();
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1;
    border-radius: 20px;
    color: #fff;
    margin: 0;
    padding: 15px 40px;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: $highlight-color;
    margin-right: 5px;

    &:hover {
        background: $highlight-alt-color;
        color: #fff;
    }

    &-secondary {
        background: transparent;
        border: 2px $highlight-color solid;
        color: $highlight-color;
    }
}

.errors {
    border-left: 5px #990000 solid;
    padding: 0 0 0 20px;
    margin: 0 0 30px;
    color: #990000;
    font-size: 2rem;
    line-height: normal;
}

.float-button {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}